API_KEY = "api key #1 here"
API_SECRET = "api secret #1 here"

restClient {
    ssl = true
    host = api-aws.huobi.pro
    port = 443
    connectTimeout = 10000
    keepAlive = true
}

tickerWebsocketClient {
    ssl = true
    host = api-aws.huobi.pro
    port = 443
    path = /ws
    connectTimeout = 10000
    keepAlive = true
    maxWebsocketFrameSize = 10000000
}

orderbookWebsocketClient {
    ssl = true
    host = api-aws.huobi.pro
    port = 443
    path = /feed
    connectTimeout = 10000
    keepAlive = true
    maxWebsocketFrameSize = 10000000
}

userDataWebsocketClient {
    ssl = true
    host = api-aws.huobi.pro
    port = 443
    path = /ws/v2
    connectTimeout = 10000
    keepAlive = true
    maxWebsocketFrameSize = 10000000
}